<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Company Quotes{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div data-controller="quotes">
{#            <input data-quotes-target="name" type="text">#}
{#            <button data-action="click->quotes#greet">Greet</button>#}

            <div id="form-wrapper">
                <form id="form" action="#" method="post">
                    <div>
                        <label for="name">Company Symbol:</label>
                        <input type="text" data-quotes-target="company_symbol" id="company_symbol" value="AAL" tabindex="1">
                        <p class="style-error" data-quotes-target="company_symbol_error"></p>
                    </div>
                    <div>
                        <label for="name">Start Date:</label>
                        <input type="text" data-quotes-target="start_date" id="start_date" value="2022-01-01" tabindex="2">
                        <p class="style-error" data-quotes-target="start_date_error"></p>
                    </div>
                    <div>
                        <label for="name">End Date:</label>
                        <input type="text" data-quotes-target="end_date" id="end_date" value="2022-10-01" tabindex="3">
                        <p class="style-error" data-quotes-target="end_date_error"></p>
                    </div>
                    <div>
                        <label for="name">Email:</label>
                        <input type="text" data-quotes-target="email" id="email" value="sine@aaa.com" tabindex="4">
                        <p class="style-error" data-quotes-target="email_error"></p>
                    </div>
                    <div>
                        <button type="button" data-quotes-target="submit" data-action="click->quotes#fetch" tabindex="5">Submit</button>
                    </div>
                </form>
            </div>

            <div id="quotes-data">
                <div id="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th> <th>Open</th> <th>High</th> <th>Low</th> <th>Close</th> <th>Volume</th>
                            </tr>
                        </thead>
                        <tbody data-quotes-target="tableBody">
                        </tbody>
                    </table>
                </div>
                <div id="chart">
                </div>
            </div>

{#          TODO remove#}
{#            <span data-quotes-target="output">#}
{#            </span>#}
        </div>
    </body>
</html>
