#enable query log
[mysqld]
slow_query_log=1
slow_query_log_file=/tmp/slow.log
long_query_time=5
log_queries_not_using_indexes=1
log_slow_admin_statements=1

# kill long running queries
[mysqld]
max_execution_time=3600000

# old auth plugin for compatability
[mysqld]
default-authentication-plugin=mysql_native_password
